<h1>Github <small>{{subtitle}}</small></h1>
<div class="row">
  <div class="span7">
    <ul class="nav nav-tabs">
      <li action="watchers"><a href="#github/watchers">Watchers</a></li>
      <li action="forks"><a href="#github/forks">Forks</a></li>
      <li action="issues" style="text-decoration: line-through;"><a href="#github/issues">Issues</a></li>
      <li action="size"><a href="#github/size">Size</a></li>
    </ul>
    <div id="graphholder" style="min-height:400px;">
      <div class="graph" style="height: 400px;"></div>
      <div id="legendholder"></div>
    </div>
  </div>
  <div class="span5">
    <div class="activity-stream" style="min-height:500px;"></div>
  </div>
</div>
