[db]
webstore.url = http://tester@localhost:5001/demo/dashboardev

google.user = okfn.admin
google.password = 

# provide gdocs csv link not just gdocs link
projects =  https://docs.google.com/spreadsheet/pub?hl=en_GB&hl=en_GB&key=0Al6mO9_3Hr2PdGhHVDBCYmQ5QWN5ZDROLU9yMUswQVE&single=true&gid=0&output=csv
sources = https://docs.google.com/spreadsheet/pub?hl=en_GB&hl=en_GB&key=0Aon3JiuouxLUdEYzTzlyZy1Oc3oycGZ1RFNVaFUzbVE&output=csv

[geocode]
geocode.username = okfn
geocode.password = 
