[db]
webstore.host = localhost:5000
webstore.user = test
webstore.password = flup
webstore.db = gatherdev

google.user = okfn.admin
google.password = 


[mailman:okfn]
url = http://lists.okfn.org/mailman/listinfo

#[feed:trac.ckan.org]
#url = http://trac.ckan.org/timeline?ticket=on&milestone=on&wiki=on&max=500&author=&daysback=365&format=rss

[feed:blog.okfn.org]
url = http://blog.okfn.org/feed/

#[twitter:twitter.com]
#url = http://twitter.com/okfn

#[bitbucket:okfn]
#name = okfn

#[bitbucket:rgrp]
#name = rgrp

#[bitbucket:pudo]
#name = pudo

#[github:pudo]
#name = pudo
#account = user

#[github:okfn]
#name = okfn
#account = org

