<div class="pane label-pane" style="max-height: 300px; overflow-y: hidden;">
    <code>TODO</code> Allow pagination
    <label>People</label>
    <ul class="nav nav-tabs" id="people-nav">
        <li action="details"><a href="#">Details</a></li>
        <li action="activity"><a href="#">Activity</a></li>
    </ul>
    <div class="inner"></div>
</div>
