<strong style="margin-bottom:10px;">{{name}}:</strong>
<div class="statistics-pane twitter">
    <div class="statistic-container">
        <div class="statistic"><div class="top">{{members}}</div><div class="bottom">members</div></div>
    </div>
    <div class="clearfix"> </div>
    </div>
</div>
