<div class="page-view page-index">
  <h2>Open Knowledge Foundation Community Members</h2>
  <div class="data-explorer-here"></div>
</div>

<div class="page-view page-activity" style="display: none;">
  <h2>Activity per month</h2>
  <div id="placeholder" style="width:100%;height:300px;"></div> 
</div>
