<div class="pane label-pane">
    <label>Mailing Lists</label>
    <ul class="nav nav-tabs" id="mailman-nav">
        <li action="posts"><a href="#">Posts</a></li>
        <li action="subscribers"><a href="#">Subscribers</a></li>
        <li action="activity"><a href="#">Activity</a></li>
        <li action="details"><a href="#">Details</a></li>
    </ul>
    <div class="inner"></div>
</div>
