<div class="statistics-pane mailchimp">
    <div class="statistic-container">
        <div class="statistic"><div class="top">{{members}}</div><div class="bottom">members</div></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="sub-name">List: <span style="color:#000; font-size: 12px;">"{{name}}"</span></div>
