<div class="statistics-pane facebook">
    <div class="statistic-container">
        <div class="statistic"><div class="top">{{likes}}</div><div class="bottom">likes</div></div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<div class="sub-name">
  Group: <a href="www.facebook.com/OKFNetwork">http://www.facebook.com/OKFNetwork</a>
</div>
